.quote-container{
    margin: 180px auto;
}

.quote-text, .quote-author {
    font-size: 1.2rem;
    background-color: rgb(109, 7, 204);
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    color: #fff;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

.quote-text {
    font-weight: 300;
}

.quote-author {
    font-weight: 700;
}