.text-container {
    text-align: center;
}

.text-alert {
    font-size: 4rem;
    font-family: 'Shrikhand', cursive;
    line-height: 1.2;
    letter-spacing: 5px;
    color: #101C92;
    margin: 50px 0 20px 0;
}

.wish {
    font-size: 1.5rem;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: rgb(109, 7, 204);
}